name: Upload Datasets

on:
  workflow_dispatch:
  schedule:
    - cron: "15 2 1 */2 *"

env:
  dataset_download_address: "https://dataset.prophesee.ai/index.php/s/VfhepWI4MPVWh9o/download"

jobs:
  get_artifacts:
    name: Get Datasets
    runs-on: ubuntu-latest
    steps:
      - name: Downloading datasets
        timeout-minutes: 10
        run: |
          curl -L -o openeb.zip $dataset_download_address
          mkdir datasets && cd datasets && unzip ../openeb.zip

      - name: Uploading datasets to storage
        uses: actions/upload-artifact@master
        with:
          name: datasets
          path: datasets

      - name: Slack Notification
        if: always()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.OPENEB_GITHUB_PROPHESEE_SLACK_WEBHOOK }}
          SLACK_TITLE: Datasets update
          SLACK_MESSAGE: "Status: ${{ job.status }}"
          SLACK_COLOR: ${{ job.status }}
          SLACK_FOOTER: ""
          MSG_MINIMAL: true
